<section class="bg-IcyBreeze dark:bg-darklight relative overflow-hidden before:absolute before:content-[''] before:bg-PaleSkyBlu before:dark:bg-secondary before:w-687 before:h-687 before:-bottom-1/2 before:rounded-full before:xl:inline-block before:hidden">
    <div class="container">
        <div class="grid md:grid-cols-2 grid-cols-1 items-center lg:gap-24 gap-5">
            <div data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">
                <img src="/static/images/mine/about-us.jpg" alt="Compare Universities" class="w-full rounded-lg shadow-lg">
            </div>
            <div class="md:pt-0 pt-6" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                <h2 class="text-2xl md:text-3xl">Compare Universities Across UK and Ireland</h2>
                <p class="text-base font-normal text-SlateBlueText dark:text-opacity-80 max-w-506 md:pt-9 pt-5 md:pb-14 pb-6">
                    Access comprehensive information on undergraduate and postgraduate programs. Compare tuition fees, scholarships, course duration, and more to make an informed decision about your education.
                </p>
                <a href="/university-search" class="btn_outline btn-2 hover-outline-slide-down">
                    <span>Browse Universities</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Divider -->
<div class="border-t border-gray-200 dark:border-gray-700"></div>
